/*###################################*/
/*###################################*/
/*EDIT THIS FILE, NOT WIDGETS.CSS */
/*RUN PROCESS.PY TO GENERATE WIDGETS.CSS*/
/*###################################*/
/*###################################*/

/*generic bg color in cde is beige, but in dialogs everyting is green (for default palette Broica.dp, the menu color))*/
/*So I define all styles with and without string '' prepended and in process.py generate two*/
/*groups from that, one without string, one with 'dialog' prepended, where colors ..._gen are repalced by ..._menu*/
/*also set > * to green menu color. hmm how to do this betterly?*/

/*furthermore, 1px is replaced by borderwidth for all bevels (default 1px). Maybe use this later for scaling*/

/*QUICK RECAP:*/
/*margin is space around the object, padding is space inside the object*/

/*__allopts */
* {
	-GtkTreeView-expander-size: 11;
}

/*__window */
window
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}

/*count this as a 'popup dialog' so all green 'menu' color (in default color palette)*/
/*__popover */
popover
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		2px;
	padding:		2px;
}

/*__button */
button
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		1px;
	padding:		4px 8px;
}

button:hover
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}

button:active
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
}

/*__entry */
entry
{
	/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		1px;
	padding:		2px 4px;
}

entry:focus
{
	border-color:		@sel_text;
}

/*__label */
label
{
	background-color:	transparent;
	color:			@fg_gen;
}

/*__menu */
menu
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		1px;
	padding:		2px;
}

/*__menuitem */
menuitem
{
	background-color:	transparent;
	color:			@fg_menu;
	padding:		4px 8px;
}

menuitem:hover
{
	background-color:	@sel_menu;
}

/*__dialog */
dialog
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		2px;
	padding:		4px;
}

/*__messagedialog */
messagedialog
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		2px;
	padding:		4px;
}

/*__treeview */
treeview
{
	/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		1px;
}

treeview:selected
{
	background-color:	@sel_text;
	color:			@fg_text;
}

/*__viewport */
viewport
{
	background-color:	@bg_text;
	color:			@fg_text;
}

